<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08A9268D2A8554F50003E93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08B259132A8810C300384E18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08B259282A8810C500384E18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08B259322A8810C500384E18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08C872542A86AB8E0034E6B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08C8725B2A86AB8E0034E6B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08C872902A86EB030034E6B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08C872972A86EB030034E6B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08C872BB2A8724A10034E6B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
